<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPowerManageWCFService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:1234/MyWCF.Server/IPowerManageWCFService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPowerManageWCFService"
                contract="ServiceReference_PowerManager.IPowerManageWCFService"
                name="WSHttpBinding_IPowerManageWCFService">
                <identity>
                    <userPrincipalName value="DESKTOP-M02608V\yangxiaojun" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>